/* Reset CSS */

/* マージンとパディングをリセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* リストスタイルをリセット */
ul, ol {
  list-style: none;
}

/* リンクの装飾をリセット */
a {
  text-decoration: none;
  color: inherit;
}

/* その他の要素に適用するリセットスタイル */
/* 例えば、フォーム要素、テーブル、ボタンなど */

body {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
overflow: hidden;
background-image: url('img/01_Dodgers_大谷翔平.jpg');
background-size: cover;
background-position: center;
animation: slide 20s linear infinite;
}

@keyframes slide {
0% {
  background-image: url('img/01_Dodgers_大谷翔平.jpg');
}
33.33% {
  background-image: url('img/02_Dodgers_大谷翔平.jpg');
}
66.66% {
  background-image: url('img/03_WBC_大谷翔平.jpg');
}
100% {
  background-image: url('img/04_LA_Dodgers.jpg');
}
}

.container { 
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: absolute;
top: 56%;
left: 34%;
border-radius: 10px;
background-color: rgba(72, 63, 248, 0.445);
}

.HomeRunCounter {
font-size: 13px;
margin: 8px;
color: red;
font-weight: bold;
}

h1 {
font-size: 24px;
background-color: rgba(0, 64, 255, 0.522);
}

#counter {
font-size: 50px;
margin-bottom: 10px;
}

.plus {
padding: 1px 9px;
font-size: 17px;
}

.mainus {
padding: 1px 11px;
font-size: 18px;
}

.countdown-container {
text-align: center;
margin-top: 540px;
}

#countdown {
color: rgb(255, 0, 0);
font-size: 23px;
font-weight: bold;
background-color: rgba(0, 64, 255, 0.522);
}
